.input {
    width: 50vw;
    height: 3vh;
    border-radius: 10px;
    border: solid 1px black;
    padding: 10px;
    outline: none;
    font-size: 18px;
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
}
